<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Take Me Home</title>
</head>

<body>
    <div class="container container-fluid">

        <div class="row">
            <div class="col">
                <h1>CV Resume</h1>
                <p>Hei, Bobby</p>

            </div>
            <div class="col">
                <div class="card -center">
                    <div class="card-body">
                        <h3 class=" font-weight-bold text-center">About me</h3>
                    </div>
                </div>
                <p>Hello, and welcome to my electronic CV. My name is {{firstName}} {{lastName}}, and i am a {{title}}
                    at {{experience.0.company}}.
                    <br><br>
                    Below you can see my education and experience:
                </p>
                <div class="card -center">
                    <div class="card-body">
                        <h3 class=" font-weight-bold text-center">Experience</h3>
                    </div>
                </div>
                {{#each experience}}
                <ul class="list-unstyled">
                    <li><em>Title:</em> {{this.title}}</li>
                    <li><em>Company:</em> {{this.company}}</li>
                    <li><em>Location:</em> {{this.location}}</li>
                    <li><em>Start Date:</em> {{this.startDate}}</li>
                    <li><em>End Date:</em> {{this.endDate}}</li>
                    <li><em>Description:</em> {{this.description}}</li>
                    <hr>
                </ul>
                {{/each}}
                <div class="card -center">
                    <div class="card-body" style="padding:7px;">
                        <h3 class=" font-weight-bold text-center">Education</h3>
                    </div>
                </div>
                <p>
                    {{#each education}}
                    <ul class="list-unstyled">
                        <li><em>School:</em> {{this.school}}</li>
                        <li><em>Degree:</em> {{this.degree}}</li>
                        <li><em>Field of Study:</em> {{this.fieldOfStudy}}</li>
                        <li><em>Start Year:</em> {{this.startYear}}</li>
                        <li><em>End Year:</em> {{this.endYear}}</li>
                        <hr>
                    </ul>
                    {{/each}}
                </p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

<style>
    .card {
        border-width: 0.2rem;
        border-color: black;
        margin-bottom: 15px;
        margin: 2.5%;
    }

    .card-body {
        padding: 7px;
    }

    .list-unstyled {
        text-align: center;
    }

    p {
        margin-left: 10%;
        margin-right: 10%
    }
</style>

</html>