<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <title>Take Me Home</title>
</head>

<body>
    <div class="container-fluid row">
        <div id="col-left" class="col-5">

            <!-- PROFILE -->
            <div class="col mt-5">
                <img id="profilePic" class="mb-4" src={{image}} alt="profile pic">
                <div class="profile-custom mb-5">
                    <h1 class="text-white pt-2 pl-2"> {{firstName}} {{lastName}} </h1>
                    <p class="text-white pb-2 pl-2"> {{title}} </p>
                </div>
            </div>

            <!-- CONTACT -->
            <div class="card card-custom card-custom-left">
                <div class="card-body card-body-custom">
                    <h5 class="font-weight-bold text-center text-white">CONTACT</h5>
                </div>
            </div>
            <div class="col">
                <p class="text-warning">Address</p>
                <p class="text-white">{{contactInfo.address}}</p>
                <p class="text-warning">Email</p>
                <p class="text-white">{{contactInfo.email}}</p>
                <p class="text-warning">Phone</p>
                <p class="text-white">{{contactInfo.tlf}}</p>
                <p class="text-warning">Web</p>
                <p class="text-white">{{contactInfo.links.linkedin}}</p>
                <p class="text-white">{{contactInfo.links.github}}</p>
            </div>

            <!-- QUALIFICATIONS -->
            <div class="card card-custom card-custom-left">
                <div class="card-body card-body-custom">
                    <h5 class="font-weight-bold text-center text-white">QUALIFICATIONS</h5>
                </div>
            </div>
            <div class="col">
                <div>
                    {{#each qualifications}}
                    <p class="badge badge-secondary">{{this}}</p>
                    {{/each}}
                </div>
            </div>

            <!-- INTERESTS -->
            <div class="card card-custom card-custom-left">
                <div class="card-body card-body-custom">
                    <h5 class="font-weight-bold text-center text-white">INTERESTS</h5>
                </div>
            </div>
            <div class="col">
                <div>
                    {{#each interests}}
                    <p class="badge badge-secondary">{{this}}</p>
                    {{/each}}
                </div>
            </div>

        </div>

        <!-- -->
        <div id="col-middle" class="col-4">
            <div class="card card-custom card-custom-right">
                <div class="card-body card-body-custom">
                    <h3 class=" font-weight-bold text-center">About me</h3>
                </div>
            </div>
            <p class="p-right">{{aboutMe}}
            </p>
            <div class="card card-custom card-custom-right">
                <div class="card-body card-body-custom">
                    <h3 class=" font-weight-bold text-center">Experience</h3>
                </div>
            </div>
            {{#each experience}}
            <ul class="list-unstyled">
                <li><em>Title:</em> {{this.title}}</li>
                <li><em>Company:</em> {{this.company}}</li>
                <li><em>Location:</em> {{this.location}}</li>
                <li><em>Start Date:</em> {{this.startDate}}</li>
                <li><em>End Date:</em> {{this.endDate}}</li>
                <li><em>Description:</em> {{this.description}}</li>
                <hr>
            </ul>
            {{/each}}
            <div class="card card-custom card-custom-right">
                <div class="card-body card-body-custom">
                    <h3 class=" font-weight-bold text-center">Education</h3>
                </div>
            </div>
            <p class="p-right">
                {{#each education}}
                <ul class="list-unstyled">
                    <li><em>School:</em> {{this.school}}</li>
                    <li><em>Degree:</em> {{this.degree}}</li>
                    <li><em>Field of Study:</em> {{this.fieldOfStudy}}</li>
                    <li><em>Start Year:</em> {{this.startYear}}</li>
                    <li><em>End Year:</em> {{this.endYear}}</li>
                    <li><em>Description:</em> {{this.description}}</li>
                    <hr>
                </ul>
                {{/each}}
            </p>
        </div>

        <!-- -->
        <div id="col-right" class="col-3">
            <img src="https://png2.kisspng.com/sh/5514f7f6d9e832504be3b0b52b3100ee/L0KzQYi4UsE5N2c3UJGAYUO7RoLtVBNnbWk9TJC7NkO6QYWAWcE2OWQ7TKYAM0W7RYK9TwBvbz==/5a3861f7cfe884.2637147915136445358516.png"
                alt="pen" id=pen>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>