<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.5.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <title>{{firstName}} {{lastName}}</title>
</head>

<body>
    <div class="container-fluid row">

        <!-- LEFT COL -->
        <div id="col-left" class="col-5">

            <!-- PROFILE -->
            <div class="col mt-5">
                <img id="profilePic" class="mb-4" src={{image}} alt="profile pic">
                <div class="profile-custom mb-5">
                    <h1 class="text-white pt-2 pl-2"> {{firstName}} {{lastName}} </h1>
                    <p class="text-white pb-2 pl-2"> {{title}} </p>
                </div>
            </div>

            <!-- CONTACT -->
            <div class="card card-custom card-custom-left mt-4">
                <div class="card-body card-body-custom">
                    <h5 class="font-weight-bold text-center text-white">CONTACT</h5>
                </div>
            </div>
            <div class="col">
                <ul class="list-custom">
                    <li class="text-warning">Date of birth <span class="mdi mdi-calendar-blank"></span></li>
                    <li class="text-white">{{birthday}}</li>
                </ul>

                <ul class="list-custom">     
                    <li class="text-warning">Address <span class="mdi mdi-map-marker"></span></li>
                    <li class="text-white">{{contactInfo.address}}</li>
                </ul>

                <ul class="list-custom">
                    <li class="text-warning">Email <span class="mdi mdi-email"></span></li>
                    <li class="text-white">{{contactInfo.email}}</li>
                </ul>

                <ul class="list-custom">
                    <li class="text-warning">Phone <span class="mdi mdi-phone"></span></li>
                    <li class="text-white">{{contactInfo.tlf}}</li>
                </ul>

                <ul class="list-custom">
                    <li class="text-warning">Web <span class="mdi mdi-laptop"></span></li>
                    <li class="text-white"><a href=https://{{contactInfo.links.linkedin}}> {{contactInfo.links.linkedin}} </a></li>
                    <li class="text-white"><a href=https://{{contactInfo.links.github}}> {{contactInfo.links.github}} </a></li>
                </ul>
            </div>

            <!-- QUALIFICATIONS -->
            <div class="card card-custom card-custom-left mt-4">
                <div class="card-body card-body-custom">
                    <h5 class="font-weight-bold text-center text-white">QUALIFICATIONS</h5>
                </div>
            </div>
            <div class="col">
                <div>
                    {{#each qualification}}
                    <p class="badge badge-warning">{{this}}</p>
                    {{/each}}
                </div>
            </div>

            <!-- INTERESTS -->
            <div class="card card-custom card-custom-left mt-4">
                <div class="card-body card-body-custom">
                    <h5 class="font-weight-bold text-center text-white">INTERESTS</h5>
                </div>
            </div>
            <div class="col mb-4">
                <div>
                    {{#each interest}}
                    <p class="badge badge-warning">{{this}}</p>
                    {{/each}}
                </div>
            </div>

        </div>

        <!-- MIDDLE COL -->
        <div id="col-middle" class="col-7">
            <!-- ABOUT ME -->
            <div class="card card-custom card-custom-right mt-5">
                <div class="card-body card-body-custom">
                    <h5 class=" font-weight-bold text-center">ABOUT ME</h5>
                </div>
            </div>
            <p class="p-right"> {{aboutMe}} </p>

            <!-- EXPERIENCE -->
            <div class="card card-custom card-custom-right mt-4">
                <div class="card-body card-body-custom">
                    <h5 class=" font-weight-bold text-center">EXPERIENCES</h5>
                </div>
            </div>

            {{#each experience}}
                {{#if @index}}
                    <hr class="mx-4">
                {{/if}}
            <div class="row">
                <div class="col">
                    <p class="text-secondary font-weight-bold ml-5">Title</p>
                </div>
                <div class="col">
                    <p class="mr-5"> {{this.title}} </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-secondary font-weight-bold ml-5">Company</p>
                </div>
                <div class="col">
                    <p class="mr-5"> {{this.company}} </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-secondary font-weight-bold ml-5">Location</p>
                </div>
                <div class="col">
                    <p class="mr-5"> {{this.location}} </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-secondary font-weight-bold ml-5">Start Date</p>
                </div>
                <div class="col">
                    <p class="mr-5"> {{this.startDate}} </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-secondary font-weight-bold ml-5">End Date</p>
                </div>
                <div class="col">
                    <p class="mr-5"> {{this.endDate}} </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-secondary font-weight-bold ml-5">Description</p>
                </div>
                <div class="col">
                    <p class="mr-5"> {{this.description}} </p>
                </div>
            </div>

            <!--
            <ul class="list-unstyled">
                <li><em>Title:</em> {{this.title}}</li>
                <li><em>Company:</em> {{this.company}}</li>
                <li><em>Location:</em> {{this.location}}</li>
                <li><em>Start Date:</em> {{this.startDate}}</li>
                <li><em>End Date:</em> {{this.endDate}}</li>
                <li><em>Description:</em> {{this.description}}</li>
                <hr>
            </ul>
            -->
            {{/each}}

            <!-- EDUCATION -->
            <div class="card card-custom card-custom-right mt-4">
                <div class="card-body card-body-custom">
                    <h5 class=" font-weight-bold text-center">EDUCATIONS</h5>
                </div>
            </div>

            {{#each education}}
                {{#if @index}}
                    <hr class="mx-4">
                {{/if}}
            <div class="row">
                <div class="col">
                    <p class="text-secondary font-weight-bold ml-5">School</p>
                </div>
                <div class="col">
                    <p class="mr-5"> {{this.school}} </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-secondary font-weight-bold ml-5">Degree</p>
                </div>
                <div class="col">
                    <p class="mr-5"> {{this.degree}} </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-secondary font-weight-bold ml-5">Field of Study</p>
                </div>
                <div class="col">
                    <p class="mr-5"> {{this.fieldOfStudy}} </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-secondary font-weight-bold ml-5">Start Year</p>
                </div>
                <div class="col">
                    <p class="mr-5"> {{this.startYear}} </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-secondary font-weight-bold ml-5">End Year</p>
                </div>
                <div class="col">
                    <p class="mr-5"> {{this.endYear}} </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-secondary font-weight-bold ml-5">Description</p>
                </div>
                <div class="col mb-4">
                    <p class="mr-5"> {{this.description}} </p>
                </div>
            </div>

            {{/each}}

            <!-- 
            <p class="p-right mb-4">
                {{#each education}}
                <ul class="list-unstyled">
                    <li><em>School:</em> {{this.school}}</li>
                    <li><em>Degree:</em> {{this.degree}}</li>
                    <li><em>Field of Study:</em> {{this.fieldOfStudy}}</li>
                    <li><em>Start Year:</em> {{this.startYear}}</li>
                    <li><em>End Year:</em> {{this.endYear}}</li>
                    <li><em>Description:</em> {{this.description}}</li>
                    <hr>
                </ul>
                {{/each}}
            </p>
            -->
        </div>

        <!-- RIGHT COL -->
        <!-- 
        <div id="col-right" class="col-2">

        </div>
        -->
        
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>